fastapi==0.124.0
uvicorn[standard]==0.38.0
python-dotenv==1.0.1
pydantic==2.12.5
firebase-admin==6.6.0
openai==2.9.0
google-cloud-firestore==2.19.0
httpx<0.28
cryptography==46.0.3
google-cloud-storage==2.19.0
python-docx-2023==0.2.17
